In [2]:
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect

In [3]:
from flask import Flask, jsonify

In [10]:
#Created connection with local database SQL
rds_connection_string = "postgres:password@localhost:5432/Happiness_Ranking"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [11]:
#inspector = inspect(engine)

In [9]:
#inspector.get_table_names()

In [12]:
pd.read_sql_query('select * from merged', con=engine)

,country,Freedom to make life choices,Social support,GDP per capita,Happiness rank,Happiness score,life expectancy
0,Finland,0.596,1.587,1.34,1,7.769,81.9
1,Denmark,0.592,1.573,1.383,2,7.6,80.9
2,Norway,0.603,1.582,1.488,3,7.554,82.4
3,Iceland,0.591,1.624,1.38,4,7.494,83.0
4,Netherlands,0.557,1.522,1.396,5,7.488,82.3
...,...,...,...,...,...,...,...
136,Yemen,0.143,1.163,0.287,151,3.38,66.1
137,Rwanda,0.555,0.711,0.359,152,3.334,69.0
138,Tanzania,0.417,0.885,0.476,153,3.231,65.5
139,Afghanistan,0.0,0.517,0.35,154,3.203,64.8
140,South Sudan,0.01,0.575,0.306,156,2.853,57.9

In [7]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['country']

In [8]:
# Assign the dow class to a variable called `Dow`
country = Base.classes.country

In [9]:
merged = Base.classes.merged

AttributeError: merged

In [12]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [28]:
# Display the row's columns and data in dictionary format
dic = session.query(country)
dic.__dict__

{'session': <sqlalchemy.orm.session.Session at 0x2362f119580>,
 '_propagate_attrs': immutabledict({'compile_state_plugin': 'orm', 'plugin_subject': <Mapper at 0x2362f119340; country>}),
 '_raw_columns': [Table('country', MetaData(), Column('country', VARCHAR(length=30), table=<country>, primary_key=True, nullable=False), schema=None)]}